/*
 * Josh Comeau's awesome CSS reset
 * more about it here: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* VARIABLES */
:root {
    --bg-color: hsl(155deg 80% 5%);
    --fg-color: hsl(155deg, 93%, 44%);
}

/* BROWSER */
::selection {
    background-color: hsl(155deg, 93%, 44%);
    color: hsl(155deg 80% 5%);
}

/* FONTS */
@font-face {
    font-family: "JetbrainsMono";
    src: url("/static/fonts/JetBrainsMono.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TsunagiGothic";
    src: url("/static/fonts/TsunagiGothic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Schabo";
    src: url("/static/fonts/schabo.woff2");
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL STYLES */
body,
html {
    height: 100%;
    margin: 0;
    font-family: "JetbrainsMono", monospace;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

a {
    color: var(--fg-color);
    text-decoration: none;
    /*text-underline-offset: 0.5em;*/
    opacity: 0.5;
}

a:hover {
    opacity: 1;
    background-color: var(--fg-color);
    color: var(--bg-color);
}

a::before {
    content: "[";
    position: inherit;
}

a::after {
    content: "]";
}

p {
    margin: 24px 0px;
    opacity: 0.8;
}

/* CLASSES */
.container {
    width: 100%;
    min-height: 100%;
    max-width: 900px;
    margin: 0px auto;
    padding: 16px;
    border: 1px var(--fg-color) solid;
}

.font-jp {
    font-family: "TsunagiGothic";
}

.font-alt {
    font-family: "Schabo";
}

.font-bold {
    font-weight: "bold";
}

.address-bar {
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 2px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg-color);
    background-color: var(--fg-color);
    padding: 2px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.bottom-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.bottom-bar ul li {
    list-style: none;
}

.bottom-bar ul li a {
    color: var(--bg-color) !important;
    opacity: 1 !important;
}

.bottom-bar ul li a:hover {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
}

/* HEADING MAIN */
/*.h-heading {
}*/

.heading-main {
    display: inline-block;
    position: relative;
}

.text-main-jp {
    position: absolute;
    bottom: -0.05em;
    left: 0.6em;
    font-size: 3em;
    mix-blend-mode: difference;
    /*opacity: 0.7;*/
}

.text-h1-main {
    font-size: 6em;
    font-weight: 200;
}

.blinking-cursor {
    display: inline-block;
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 80px;
    background-color: var(--fg-color);
    animation: blinking 1s infinite ease forwards;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
