@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    background: #577fbc;
    color: #ffffff;
}
::-webkit-selection {
    background: #577fbc;
    color: #ffffff;
}
::selection {
    background: #577fbc;
    color: #ffffff;
}

:root {
    --foreground-rgb: 236, 239, 243;
    --background-rgb: 8, 11, 16;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 236, 239, 243;
        --background-rgb: 8, 11, 16;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    padding-top: 16px;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

span.blue {
    color: #8eb8f8 !important;
}

span.green {
    color: #5ef6a4 !important;
}

h3 code {
    @apply !text-lg md:!text-xl;
}

article ol > li {
    margin-bottom: 8px !important;
}

article li > a {
    text-underline-offset: 4px;
    text-decoration: none !important;
}

article li > a:hover {
    text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: 100px !important;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    position: relative;
    color: #f4f9fb !important;
    text-decoration: none !important;
}

h1 > a::before,
h2 > a::before,
h3 > a::before,
h4 > a::before,
h5 > a::before,
h6 > a::before {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '#';
    opacity: 0;
    transition: all ease-in;
}

h1 > a:hover::before,
h2 > a:hover::before,
h3 > a:hover::before,
h4 > a:hover::before,
h5 > a:hover::before,
h6 > a:hover::before {
    position: absolute;
    left: -24px;
    top: 0px;
    content: '#';
    opacity: 0.5;
}

@media screen and (max-width: 640px) {
    h1 > a:hover,
    h2 > a:hover,
    h3 > a:hover,
    h4 > a:hover,
    h5 > a:hover,
    h6 > a:hover {
        padding-left: 24px;
    }

    h1 > a:hover::before,
    h2 > a:hover::before,
    h3 > a:hover::before,
    h4 > a:hover::before,
    h5 > a:hover::before,
    h6 > a:hover::before {
        left: 0px;
    }
}

pre {
    @apply !px-0 rounded-lg;
    background-color: #282f40;
    position: relative;
}

code {
    @apply text-sm md:text-base !leading-loose rounded-sm;
    background-color: #282f40;
    padding: 1px 2px;
}

pre > code {
    counter-reset: line;
    background: #0f131a !important;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: #0f131a !important;
}

code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-4 mr-4 text-right text-gray-500;
}

.prose {
    @apply max-w-[55rem] sm:text-lg md:text-xl !leading-7 sm:!leading-9;
}

pre [data-line] {
    @apply px-4 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
    background: #1b212faf !important;
    border-left: 2px solid #5ef6a4 !important;
    /* @apply border-l-gray-400; */
}

[data-highlighted-chars] {
    @apply bg-zinc-600/50 rounded;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
    @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
    @apply !text-inherit;
}

[data-chars-id='v'] {
    @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
    @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
    @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-title] {
    @apply bg-zinc-700 text-zinc-200 rounded-t-lg py-2 px-3 font-semibold text-sm;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
    pre {
    @apply !rounded-t-none;
}

figure {
    @apply my-6;
}

pre,
code,
figure {
    @apply overflow-x-auto;
}

h1#table-of-contents {
    text-decoration: underline;
    text-underline-offset: 4px;
}

article li > a:hover {
    color: #f4f9fb;
}

blockquote {
    border-left: solid 2px #5ef6a4;
    padding: 16px;
    font-style: italic;
    background: #0f131a;
    margin: 8px 0;
    color: #f4f9fb;
}

figcaption {
    background-color: #151a24 !important;
}

.copy-button {
    position: absolute;
    color: #b5c3d8;
    border: none;
    cursor: pointer;
    right: 0px;
    top: 0px;
    padding: 8px 16px;
    background-color: #0f131a !important;
    opacity: 0;
}

.copy-button:hover {
    color: #f4f9fb;
}

pre:hover .copy-button {
    opacity: 1 !important;
}
