<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">-->
        <!--<meta name="description" content="{{ .MetaDescription }}">-->
        <!--<meta property="og:title" content="{{ .MetaPropertyTitle }}">-->
        <!--<meta property="og:description" content="{{ .MetaPropertyDescription }}">-->
        <!--<meta property="og:url" content="{{ .MetaOgURL }}">-->
        <title>{{ .Title }}</title>
        <!--<link rel="stylesheet" href="/static/css/style.css">-->
    </head>
</html>
