<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/img/h-fn.svg" type="image/svg" />
        <meta name="description" content="{{ .MetaDescription }}" />
        <meta property="og:title" content="{{ .MetaPropertyTitle }}" />
        <meta
            property="og:description"
            content="{{ .MetaPropertyDescription }}"
        />
        <!--<meta property="og:url" content="{{ .MetaOgURL }}">-->
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/static/css/global.css" />
        <link
            rel="preload"
            href="/static/fonts/JetBrainsMono.ttf"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/static/fonts/TsunagiGothic.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/static/fonts/Schabo.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <!--err, nothing to see here-->
        <script
            defer
            src="https://analytics.sshxero.dev/script.js"
            data-website-id="464bf80a-8d06-4108-982b-ec02f0823a23"
        ></script>
    </head>
</html>
