{{ template "header.html" . }}
<body>
    {{ template "address-bar.html" . }}
    <section class="container">
        <section class="h-heading">
            <section class="heading-main">
                <h1 class="font-alt text-h1-main">Xero&apos;s Underground</h1>
                <span class="font-jp font-bold text-main-jp">ゼロ 地下</span>
            </section>
            <div class="blinking-cursor"></div>
        </section>

        <section>
            <p>
                Hi! I&apos;m xero, pronounced:
                <span class="word-guide">&#47;'zɪrəʊ&#47;</span>. I&apos;m a
                really curious individual and I like creating things. Usually
                that takes the form of software.
            </p>

            <p>
                My interests revolve around a lot of things, some of them
                include programming/computers, fine art, metal/classical
                music/or both! And chess. And Japanese anime.
            </p>

            <p>
                I&apos;m currently a 3rd year computer science student and my
                experience developing software is mostly on the web. Most of the
                time, this is backend systems and/or infrastructure.
            </p>

            <p>
                I spend a significant portion of my time writing code. And since
                I believe in having passion for your craft, I often put in a lot
                of effort and attention to detail in matters of interest to me.
                Though, this means that I tend to have perfectionist tendencies,
                so when I start a bunch of side projects and start losing
                interest, it stays there untouched for a very long time.
            </p>

            <p>
                Since you&apos;re still here, I can perhaps entertain (or bore
                you) with a little bit more about myself. I&apos;m usually asked
                "what kind of programming do you do?", for a while I didn&apos;t
                have a good answer to this because I do everything. Frontend,
                Backend, Mobile Native, Tooling, Machine Learning, Graphics et
                cetera. This does have obvious drawbacks such as never knowing
                any one field deeply enough. But these days I tend to focus on
                backend and machine learning tasks.
            </p>

            <p>
                Feel free to look around, I also write sometimes. If you&apos;re
                interested in this site&apos;s source code, you can find it
                <a href="https://github.com/dev-xero/home" target="_blank"
                    >here</a
                >.
            </p>
        </section>
    </section>
</body>
