{{ template "header.html" . }}
<body>
    {{ template "address-bar.html" . }}
    <section class="container">
        <section class="h-heading">
            <section class="heading-main">
                <h1 class="font-alt text-h1-main">Xero&apos;s Underground</h1>
                <span class="font-jp font-bold text-main-jp">ゼロ 地下</span>
            </section>
            <div class="blinking-cursor"></div>
        </section>

        <section>
            <p>
                Hi! I&apos;m xero, pronounced:
                <span class="word-guide">&#47;'zɪrəʊ&#47;</span>. I&apos;m a
                curious individual and I like creating things. Usually, that
                takes the form of software.
            </p>

            <p>
                I have a lot of different interests, which include
                programming/computers, fine art, metal/classical music/or both!
                And chess. And yes, Japanese anime.
            </p>

            <p>
                I&apos;m a 3rd year computer science student and my experience
                in developing software is majorly on the web. Most of the time,
                this is in backend systems and/or infrastructure.
            </p>

            <p>
                I spend a significant portion of my time writing code. And since
                I believe in having passion for your craft, I put in a lot of
                effort and attention to detail in matters of interest to me.
                Though, this means that I tend to have perfectionist tendencies
                which sometimes leads to procrastination.
            </p>

            <p>
                Since you&apos;re still here, I can perhaps entertain (or bore
                you) with a little bit more about myself. I&apos;ve tried many
                different kinds of programming: Frontend, Backend, Mobile
                Native, Tooling, Machine Learning, Graphics et cetera. My focus
                presently is on Machine Learning and Graphics in the future.
            </p>

            <p>
                What else? I wrote my first program at 11. I&apos;ve seen about
                two hundred different anime at this point. And I would like to
                eventually learn proper 3D character modeling/animation.
            </p>

            <p>
                Feel free to look around, I also write sometimes. If you&apos;re
                interested in this site&apos;s source code, you can find it
                <a href="https://github.com/dev-xero/home" target="_blank"
                    >here</a
                >.
            </p>
        </section>
    </section>
    {{ template "bottom-bar.html" . }}
</body>
